@model PetHealthAssistantProject.Models.Walks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Walks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WalksPark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalksPark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WalksAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WalksAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WalksID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
